.row
  .col-sm-1
    %p Bill ID
  .col-sm-3
    %p Short Title
  .col-sm-2
    %p Introduced on
  .col-sm-2
    %p Sponsor

- @bills.each do |bill|
  .row
    .col-sm-1
      =link_to "#{bill.bill_id}", bill
    .col-sm-3
      =link_to "#{bill.short_title}", bill
    .col-sm-2
      %p #{bill.introduced_on}
    .col-sm-3
      = link_to "#{bill.legislator.first_name} #{bill.legislator.last_name}", bill.legislator unless bill.legislator.nil?
= will_paginate @bills
