-if user_signed_in?
  -if tagged
    %button.btn.btn-success{onclick: "untag_item(#{tag_id})",
       class: "#{item_id}"} Tagged for Updates
  -else
    %button.btn.btn-default{onclick: "tag_item('#{item_id}',
      '#{current_user.id}')", class: "#{item_id}"} Tag for Updates
