.row
  .col-sm-1
    =link_to "#{bill.bill_id}", bill
  .col-sm-3
    =link_to "#{bill.short_title}", bill
  .col-sm-2
    %p #{bill.introduced_on.strftime("%Y-%m-%d")}
  .col-sm-3
    = link_to "#{bill.legislator.first_name} #{bill.legislator.last_name}", bill.legislator unless bill.legislator.nil?
  .col-sm-1
    -if bill.history_active
      = render partial: 'shared/tag', locals: { item_id: bill.bill_id, tagged: bill.tagged?(current_user), tag_id: bill.tag_id(current_user) }
