%h1 #{@bill.bill_id}

%h3 #{@bill.short_title}

%br

%h4 OFFICIAL TITLE
%p #{@bill.official_title}

%h4 SPONSOR
= link_to "#{@bill.legislator.first_name} #{@bill.legislator.middle_name} #{@bill.legislator.last_name}", "/legislators/#{@bill.legislator.bioguide_id}" unless @bill.legislator.nil?

- @bill.attributes.sort.each do |k, v|
  %h4 #{k.upcase}
  %p #{v}
