%h1 #{@bill.bill_id}

%h3 #{@bill.short_title}
%br

- if @bill.history_active = render partial: 'shared/tag', locals: { item_id: @bill.bill_id, tagged: @bill.tagged?(current_user), tag_id: @bill.tag_id(current_user) }

%h4 OFFICIAL TITLE
%p #{@bill.official_title}

%h4= "SPONSOR" unless @bill.legislator.blank?
= link_to "#{@bill.legislator_name}", @bill.legislator unless @bill.legislator.nil?

%h4 CHAMBER
%p #{@bill.chamber}

%h4 CONGRESS
%p #{@bill.congress}

%h4 INTRODUCED ON
%p #{@bill.introduced_on.strftime("%Y-%m-%d")}

%h4 LAST ACTION AT
%p #{@bill.last_action_at.strftime("%Y-%m-%d")}

%h4 LAST VOTE AT
%p #{@bill.last_vote_at}

%h4 ACTIVE
%p #{@bill.history_active}

%h4 AWAITING SIGNATURE
%p #{@bill.history_awaiting_signature}

%h4 ENACTED
%p #{@bill.history_enacted}

%h4 VETOED
%p #{@bill.history_vetoed}

%h4 COSPONSORS COUNT
%p #{@bill.cosponsors_count}

%h4 WITHDRAWN COSPONSORS COUNT
%p #{@bill.withdrawn_cosponsors_count}

