%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#congress-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Congress
    / Collect the nav links, forms, and other content for toggling
    #congress-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: (current_page?(bills_path) && 'active') || (current_page?(root_path) && 'active')}
          = link_to "Bills", bills_path
        %li{class: current_page?(legislators_path) && 'active'}
          = link_to "Legislators", legislators_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              #{current_user.first_name} #{current_user.last_name}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Logout", destroy_user_session_path, :method => :delete
        -else
          %li{class: current_page?(new_user_session_path) && 'active'}
            = link_to "Log In", new_user_session_path
          %li{class: current_page?(new_user_registration_path) && 'active'}
            = link_to "Register", new_user_registration_path
      %form.navbar-form.navbar-right{:role => "search", :action => "/search"}
        .form-group
          %input.form-control{:placeholder => "Search Here", :type => "text", :name => "search_term" }
        %button.btn.btn-default{:type => "submit"} Search
